
form.survey {
	padding-bottom:6em;

	legend span {
		display: block;
		padding-bottom:0.5em;
		@include core-24;
		font-weight:600;
		max-width: 22em;
	}

	input[type="checkbox"],
	input[type="radio"] {
		margin-right: 0.25em;
		vertical-align: 2px;
	}

	label {
		display:block;
		width: auto;
		float: none;
		text-align: left;
	}

	fieldset {
		display: block;
		margin-bottom: 2em;
	}

	textarea {
		width: 100%;
	}

	button {
		margin-top:1.5em;
	}
}